.status-bar-bg {
  height: env(safe-area-inset-top);
}

.tab-bar {
  padding: 2px;
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 50%;
  transform: translateX(50%);
  margin-bottom: 32px;
  border-radius: 99px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.tab-bar-tab {
  background: transparent;
}
